<div   [ngStyle]="{'background' : 'url(.././assets/bg1.png)'}" style="width: 100%; height: 100%">
    <div class="container" style="text-align: center ">
        <div class="card" style="width: 500px; float: right;">
            <div class="card-body">
                <h1 style="text-align: center; color: red"><strong>Farmer Location</strong></h1>
                <form class="example-form" [formGroup]="donorForm" (ngSubmit)="onFormSubmit(donorForm.value)">
                    <h2>Input your data then save it.</h2>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Your name" formControlName="name">
                        <mat-error>
                        <span *ngIf="!donorForm.get('name').valid && donorForm.get('name').touched">Please enter your name</span>
                        </mat-error>
                    </mat-form-field>
                    <br />
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Your Phone" formControlName="phone" >
                        <mat-error>
                        <span *ngIf="!donorForm.get('phone').valid && donorForm.get('phone').touched">Please enter your phone</span>
                        </mat-error>
                    </mat-form-field>
                    <br />
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Your email" formControlName="email">
                        <mat-error>
                        <span *ngIf="!donorForm.get('email').valid && donorForm.get('email').touched">Please enter your email</span>
                        </mat-error>
                    </mat-form-field>
                    <br />
                    <!-- <mat-form-field class="example-full-width">
                        <input matInput placeholder="Your Blood Group" formControlName="blood_group" [errorStateMatcher]="matcher">
                        <mat-error>
                        <span *ngIf="!donorForm.get('blood_group').valid && donorForm.get('blood_group').touched">Please enter your Blood Group</span>
                        </mat-error>
                    </mat-form-field> -->
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Crop type" formControlName="crop" >
                        <mat-error>
                        <span *ngIf="!donorForm.get('crop').valid && donorForm.get('crop').touched">Please enter your Crop type</span>
                        </mat-error>
                    </mat-form-field>
                    <br />
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Quantity of your crops" formControlName="quantity" >
                        <mat-error>
                        <span *ngIf="!donorForm.get('quantity').valid && donorForm.get('quantity').touched">Please enter your quantity</span>
                        </mat-error>
                    </mat-form-field>
                    <br />
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="expected rupees of your crops" formControlName="expected_rupees" >
                        <mat-error>
                        <span *ngIf="!donorForm.get('expected_rupees').valid && donorForm.get('expected_rupees').touched">Please enter your expected rupees</span>
                        </mat-error>
                    </mat-form-field>
                    <br />
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Address" formControlName="address" >
                        <mat-error>
                        <span *ngIf="!donorForm.get('address').valid && donorForm.get('address').touched">Please enter your Address</span>
                        </mat-error>
                    </mat-form-field>
                    <br />
                    <div class="button-row">
                        <button type="submit" [disabled]="!donorForm.valid" mat-fab color="primary"><mat-icon>save</mat-icon></button>
                    </div>
                </form>
            </div>
        </div>    
    </div>
    </div>

    <div class="example-container">
    <form class="example-container" [formGroup]="options">
      <mat-checkbox formControlName="hideRequired">Hide required marker</mat-checkbox>
      <div>
        <label>Float label: </label>
        <mat-radio-group formControlName="floatLabel">
          <mat-radio-button value="auto">Auto</mat-radio-button>
          <mat-radio-button value="always">Always</mat-radio-button>
          <mat-radio-button value="never">Never</mat-radio-button>
        </mat-radio-group>
      </div>
    </form>

    <mat-form-field
        [hideRequiredMarker]="options.value.hideRequired"
        [floatLabel]="options.value.floatLabel">
      <input matInput placeholder="Simple placeholder" required>
    </mat-form-field>

    <mat-form-field [floatLabel]="options.value.floatLabel">
      <mat-label>Both a label and a placeholder</mat-label>
      <input matInput placeholder="Simple placeholder">
    </mat-form-field>

    <mat-form-field
        [hideRequiredMarker]="options.value.hideRequired"
        [floatLabel]="options.value.floatLabel">
      <mat-select required>
        <mat-option>-- None --</mat-option>
        <mat-option value="option">Option</mat-option>
      </mat-select>
      <mat-label><mat-icon>favorite</mat-icon> <b> Fancy</b> <i> label</i></mat-label>
    </mat-form-field>
  </div>
