<div   [ngStyle]="{'background' : 'url(.././assets/bg1.png)'}" style="width: 100%; height: 100%">
    <h1 style="text-align: center; color: red"><strong>Add-Donor</strong></h1>
    <div class="container" style="text-align: center ">
            <form class="example-form" [formGroup]="donorForm" (ngSubmit)="onFormSubmit(donorForm.value)">
                <h2>Input your data then save it.</h2>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Your name" formControlName="name" [errorStateMatcher]="matcher">
                    <mat-error>
                    <span *ngIf="!donorForm.get('name').valid && donorForm.get('name').touched">Please enter your name</span>
                    </mat-error>
                </mat-form-field>
                <br />
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Your Phone" formControlName="phone" [errorStateMatcher]="matcher">
                    <mat-error>
                    <span *ngIf="!donorForm.get('phone').valid && donorForm.get('phone').touched">Please enter your phone</span>
                    </mat-error>
                </mat-form-field>
                <br />
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Your email" formControlName="email" [errorStateMatcher]="matcher">
                    <mat-error>
                    <span *ngIf="!donorForm.get('email').valid && donorForm.get('email').touched">Please enter your email</span>
                    </mat-error>
                </mat-form-field>
                <br />
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Your Blood Group" formControlName="blood_group" [errorStateMatcher]="matcher">
                    <mat-error>
                    <span *ngIf="!donorForm.get('blood_group').valid && donorForm.get('blood_group').touched">Please enter your Blood Group</span>
                    </mat-error>
                </mat-form-field>
                <br />
                <div class="button-row">
                    <button type="submit" [disabled]="!donorForm.valid" mat-fab color="primary"><mat-icon>save</mat-icon></button>
                </div>
            </form>
    </div>
    </div>

    <div class="example-container">
    <form class="example-container" [formGroup]="options">
      <mat-checkbox formControlName="hideRequired">Hide required marker</mat-checkbox>
      <div>
        <label>Float label: </label>
        <mat-radio-group formControlName="floatLabel">
          <mat-radio-button value="auto">Auto</mat-radio-button>
          <mat-radio-button value="always">Always</mat-radio-button>
          <mat-radio-button value="never">Never</mat-radio-button>
        </mat-radio-group>
      </div>
    </form>

    <mat-form-field
        [hideRequiredMarker]="options.value.hideRequired"
        [floatLabel]="options.value.floatLabel">
      <input matInput placeholder="Simple placeholder" required>
    </mat-form-field>

    <mat-form-field [floatLabel]="options.value.floatLabel">
      <mat-label>Both a label and a placeholder</mat-label>
      <input matInput placeholder="Simple placeholder">
    </mat-form-field>

    <mat-form-field
        [hideRequiredMarker]="options.value.hideRequired"
        [floatLabel]="options.value.floatLabel">
      <mat-select required>
        <mat-option>-- None --</mat-option>
        <mat-option value="option">Option</mat-option>
      </mat-select>
      <mat-label><mat-icon>favorite</mat-icon> <b> Fancy</b> <i> label</i></mat-label>
    </mat-form-field>
  </div>
